.head {
  height: 4rem;
  padding: var(--sp-md);
  box-shadow: 2px 0 2px var(--gray-600);
}
.logo {
  gap: var(--sp-xsm);
  font-size: var(--fs-xlg);
  font-weight: bold;
  color: var(--primary);
}
.nav {
  font-size: large;
  flex-grow: 0.1;
}
.nav_li a:hover,
.drawer_li a:hover {
  color: var(--primary);
}
.main {
  display: flex;
}
.nav-drawer {
  min-width: 12rem;
  text-align: center;
  padding: var(--sp-lg) var(--sp-sm) var(--sp-xsm);
  box-shadow: 0 0 2px var(--gray-600);
}
.drawer_li,
.footer_li {
  padding: var(--sp-xsm) var(--sp-sm);
}
.content {
  padding: var(--sp-lg) var(--sp-xlg) var(--sp-xsm) var(--sp-sm);
  flex: 1;
}
.content > * {
  margin-bottom: var(--sp-sm);
}
.footer {
  box-shadow: -1px 0 2px var(--gray-500);
  padding: var(--sp-md);
}

/* Base styles */
.class-name__highlight {
  background-color: var(--primary);
  border-radius: 2px;
  color: var(--white);
}
.link-active {
  color: var(--primary);
  font-weight: var(--fw-semibold);
}
