.btn-container {
  width: 80%;
  gap: var(--sp-md);
  padding: var(--sp-md);
  box-shadow: 0 0 2px var(--gray-700);
}
.btn {
  padding: var(--sp-xsm) var(--sp-sm);
  font-size: var(--fs-sm);
  border: 1px solid;
  border: none;
}
.btn-primary {
  color: var(--white);
  background-color: var(--primary);
}
.btn-outline {
  color: var(--primary);
  background-color: transparent;
  outline: 1px solid var(--primary);
}
.btn-disabled {
  color: var(--gray-500);
  background-color: var(--primary-lighter);
}
.btn-primary:hover {
  background-color: var(--primary-dark);
}
.btn-outline:hover {
  background-color: var(--primary-light);
  color: var(--white);
}
.btn-outline:active,
.btn-primary:active {
  transform: scale(0.98);
}
.btn-outline:focus,
.btn-primary:focus,
.btn-link:focus {
  outline: 1px solid var(--gray-500);
  box-shadow: 0 0 2px var(--gray-500);
}
.btn-link {
  color: var(--white);
  background-color: var(--primary);
  border: none;
  border-radius: 20rem;
}
.btn-link:hover {
  color: var(--white);
  background-color: var(--primary-dark);
  text-decoration: underline;
}
.btn-link:active,
.btn-link:focus {
  color: var(--white);
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: var(--sp-xsm);
}

/* To make a button roundable*/
.rounded {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: var(--fs-lg);
}
/* To make abutton float */
.btn-float {
  position: fixed;
}
