.nav-bar__container {
  width: 100%;
  padding: var(--sp-md);
  box-shadow: 0 0 4px var(--gray-900);
}
.nav-bar {
  height: 4rem;
  padding: var(--sp-md);
  color: var(--white);
  background-color: var(--primary);
  box-shadow: 0 0 2px var(--gray-600);
}
.nav-bar__title {
  font-size: var(--fs-lg);
}
.nav-bar__list {
  flex-grow: 0.1;
}
.nav-bar__ul {
  padding: 0;
}
.nav-bar__li {
  padding: var(--sp-xsm);
}
.nav-bar__a:hover,
.nav-bar__a:focus {
  color: var(--white);
  font-weight: var(--fw-bold);
}
